{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1>Entrar en administración</h1>

    <form action="/" method="GET">
        <input type="submit" class="item btn btn-outline-dark btn-sm" value = "Volver">
    </form>

    <form class="form-inline" actions="/admin" method="POST">
        <div class="form-outline mb-4">
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Contraseña" name="password" value="">
                </div>
                <div class="col">
                    <input type="submit" class="btn btn-primary btn-block mb-4" value = "Iniciar sesión">
                </div>
            </div>
        </div>
    </form>
    <h3> {{ text }} </h3>
{% endblock %}